[submodule "source/vim/bundle/vim-markdown"]
	path = source/vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "source/vim/bundle/typescript-vim"]
	path = source/vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "source/vim/bundle/vim-javascript"]
	path = source/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "source/vim/bundle/vim-jsx"]
	path = source/vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "source/vim/bundle/idris-vim"]
	path = source/vim/bundle/idris-vim
	url = https://github.com/idris-hackers/idris-vim.git
[submodule "source/vim/bundle/vim-scala"]
	path = source/vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "source/vim/bundle/salt-vim"]
	path = source/vim/bundle/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "source/vim/bundle/Vim-Jinja2-Syntax"]
	path = source/vim/bundle/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "source/vim/bundle/purescript-vim"]
	path = source/vim/bundle/purescript-vim
	url = https://github.com/raichoo/purescript-vim.git
[submodule "source/vim/bundle/nimrod.vim"]
	path = source/vim/bundle/nimrod.vim
	url = https://github.com/zah/nimrod.vim.git
[submodule "source/vim/bundle/rust.vim"]
	path = source/vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "source/vim/bundle/syntastic"]
	path = source/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "source/vim/bundle/vim-hashicorp-tools"]
	path = source/vim/bundle/vim-hashicorp-tools
	url = https://github.com/markcornick/vim-hashicorp-tools.git
[submodule "source/vim/bundle/rustpeg.vim"]
	path = source/vim/bundle/rustpeg.vim
	url = https://github.com/treycordova/rustpeg.vim.git
